h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
}

h4 {
    margin-top: 1.5em;
}

h3 {
    margin-top: 0;
}

ul {
    margin-top: 0;
    padding-left: 2em;
}

.previous-teams {
    font-size: 0.9em;
}

.years {
    white-space: nowrap;
}

.job-title {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

body {
    font-family: system-ui, sans-serif;
    padding: 0 1em;
    line-height: 1.5;
    color: #333;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

@media (max-width: 600px) {
    body, header, footer, main {
        font-size: 0.9em;
    }
}
